* {
	box-sizing: border-box;
	font-family: 'Rubik', 'Lemonada', Arial;
}

body {
	background: lightblue;
	padding: 0;
	margin: 0;
	font-size: 20px;
}

.button {
	margin: 5px 0;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 18px;
	background: lightcoral;
	color: white;
	border: 2px solid gray;
	display: flex;
}


.button:hover {
	color: lightcoral;
	background: white;
}

.question-box{
	max-width: 600px;
	background: white;
	border-radius: 5px;
	margin: 30px auto;
	padding: 30px;

}
.category {
	background: white;
	color: black;
	padding: 15px;
	margin: 0;
	border: 4px solid gray;
	font-size: 22px;
	font-weight: 600;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
}

.questions-text {
	margin: 10px 0;
	padding: 20px;
	border: 4px solid gray;
	background: white;
	color: black;
	font-weight: 400;
	font-size: 20px;

}

.correct-text {
	color: limegreen;
	font-size: 35px;
	display: none;
	font-weight: 400;
}

.incorrect-text {
	color: red;
	font-size: 35px;
	display: none;
	font-weight: 400;
}


.question-box .answers-box .option {
	background: gray;
	color: white;
	padding: 13px 15px;
	font-size: 16px;
	line-height: 22px;
	border-radius: 5px;
	margin: 15px 0;
	border: 2px solid black;

}


.question-box .answers-box .option:hover {
	background: white;
	color: gray;
}
.question-box .answers-box .option.correct {
	background: limegreen;
}
.question-box .answers-box .option.incorrect {
	background: red;
}

.hide {
	display: none;
}
