* {
	box-sizing: border-box;
	font-family: 'Rubik', 'Lemonada', Arial;
}

body {
	background: lightblue;
	padding: 0;
	margin: 0;
	font-size: 20px;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}
 
.start-screen {
	max-width: 600px;
	background: white;
	border-radius: 10px;
	margin: auto;
	padding: 50px;
	/* Reference: https://stackoverflow.com/questions/982054/how-to-center-an-element-in-the-middle-of-the-browser-window
	https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.start-screen .button {
  	justify-content: center;
  	align-items: center;
	font-size: 50px;	
	position: relative;
}

.button {
	max-width: 600px;
	margin: 15px 0;
	padding: 13px 15px;
	border-radius: 5px;
	font-size: 18px;
	background: lightcoral;
	color: white;
	border: 2px solid gray;
}

.continue-next-question{
	display: flex;
	justify-content: center;
	align-items: center;
}

.button:hover {
	color: lightcoral;
	background: white;
}

.question-box{
	max-width: 600px;
	background: white;
	border-radius: 10px;
	margin: 30px auto;
	padding: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.category {
	background: white;
	color: black;
	padding: 15px;
	margin: 0;
	border: 4px solid gray;
	font-size: 22px;
	font-weight: 600;
	line-height: 25px;
	text-align: center;
	text-transform: uppercase;
}

.questions-text {
	margin: 10px 0;
	padding: 20px;
	border: 4px solid gray;
	background: white;
	color: black;
	font-weight: 400;
	font-size: 20px;

}

.correct-text {
	color: limegreen;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.incorrect-text {
	color: red;
	font-size: 35px;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}


.question-box .answers-box .option {
	background: gray;
	color: white;
	padding: 13px 15px;
	font-size: 16px;
	line-height: 22px;
	border-radius: 5px;
	margin: 15px 0;
	border: 2px solid black;

}

.score-box{
	max-width: 600px;
	background: white;
	border-radius: 10px;
	margin: 30px auto;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.scoreboard{
	font-size: 36px;
    line-height: 42px;
    color: black;
    margin: 30px;
}

.score{
	font-size: 24px;
    padding: 10px;
	display: inline-block;
}

.question-box .score-board-btn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.question-box .score-board-btn .button{
	text-transform: uppercase;
}

.hide {
		display: none;
}